@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:wght@400;600&family=Prompt:wght@100;400;500;700;800&display=swap");

$theme-font-family: "Prompt";
$colors: (
  primary: #E50914,
  secodary: #E5E5E5
);

$font-weights: (
  normal: 400,
  bold: 500,
);