:root {
  --primary-color: #E50914;
  --secondary-color: #E5E5E5;
  --bg-theme-color: #333;
}

@import "./theme";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $theme-font-family;
  font-size: themeFontSize(medium);
} a {
  text-decoration: none;
  color: var(--text-color);
} button {
  border: none;
} ul {
  list-style-type: none;
}
