.icon-netflix {
    width: 10.43rem;
    height: 2.81rem;
    fill: #e50914;
}

.login-content{
    background-color: rgba(0,0,0,.75);
    border-radius: 0.25rem;
    width: 450px;
    height: 660px;
    padding: 60px 68px 40px;
    max-width: 1200px;
    margin: 0 auto;  
}